name: Integration continue Java

on: [push]
#  schedule:
#    - cron: '*/5 * * * *'

jobs:
  build_java:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set up JDK 13
        uses: actions/setup-java@v1
        with:
          java-version: 13

#      - name: Cache Maven packages
#        uses: actions/caches@v2
#        with:
#          path: ~/.m2
#          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
#          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Check with CheckStyle
        run: mvn checkstyle:checkstyle

